body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.input_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mirror the video to make it feel natural (like a mirror) */
    transform: scaleX(-1);
    z-index: 1;
}

.output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* Ensure mouse events can pass through if needed, though not strictly required here */
    pointer-events: none; 
}